
<div class="card background-ash">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <span class="title-icon">
                KeeyBee<span class="dot-icon">.</span>
        </span>
        </ng-template>
        <ng-template pTemplate="end">
            <input type="text" pInputText placeholder="Search"/>
        </ng-template>
    </p-menubar>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
            <button  class="navbar-toggler px-0" type="button"
              (click)="collapse.toggle()" aria-controls="navbarExample3" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
          <!-- Collapsible wrapper -->
          <div mdbCollapse #collapse="mdbCollapse" class="collapse navbar-collapse" id="navbarExample3">
            <!-- Left links -->
            <ul class="navbar-nav me-auto ps-lg-0" style="padding-left: 0.15rem">
              <li class="nav-item">
                <a class="nav-link" href="#">Regular link</a>
              </li>
              <!-- Navbar dropdown -->
              <li class="nav-item dropdown position-static" *ngFor="let item of items">
                <a
                  (click)="toggleMenu(item)"
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="{{'navbarDropdown_'+item.label}}"
                  role="button"
                  [attr.aria-expanded]="menuExpanded"
                >
                {{item.label}}
                </a>
                <!-- Dropdown menu -->
                <div
                  *ngIf="menuExpanded"
                  class="dropdown-menu w-100 mt-0"
                  [attr.aria-labelledby]="'navbarDropdown_'+item.label"
                  style="border-top-left-radius: 0; border-top-right-radius: 0; left: 0"
                >
                  <div class="container">
                    <div class="row my-4">
                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <div class="list-group list-group-flush" *ngIf="selectedItem">
                          <a href="" class="list-group-item list-group-item-action" *ngFor="let sub of selectedItem.items"><i
                              class="fas fa-caret-right pe-2"></i>{{sub.label}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
      </nav>
</div>