<div class="card background-ash">
  <span class="d-md-none">
    <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <span class="title-icon">
          KeeyBee<span class="dot-icon">.</span>
        </span>
      </ng-template>
      <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search" />
      </ng-template>
    </p-menubar>
  </span>
  <span class="d-none d-md-block">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler px-0" type="button" (click)="collapse.toggle()" aria-controls="navbarExample3"
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <!-- Collapsible wrapper -->
        <div mdbCollapse #collapse="mdbCollapse" class="collapse navbar-collapse" id="navbarExample3">
          <!-- Left links -->
          <ul class="navbar-nav me-auto ps-lg-0" style="padding-left: 0.15rem">
            <li class="nav-item">
              <span class="title-icon">
                KeeyBee<span class="dot-icon">.</span></span>
            </li>
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown position-static" *ngFor="let item of items">
              <a (click)="toggleMenu(item)" (mouseover)="toggleMenu(item)"
                class="nav-link dropdown-toggle" href="#" id="{{'navbarDropdown_'+item.label}}" role="button"
                [attr.aria-expanded]="menuExpanded">
                {{item.label}}
              </a>
              <!-- Dropdown menu -->
              <div *ngIf="menuExpanded && selectedItem" class="dropdown-menu w-100 mt-0"
                [attr.aria-labelledby]="'navbarDropdown_'+item.label"
                style="border-top-left-radius: 0; border-top-right-radius: 0; left: 0">
                <div class="container">
                  <div class="row my-4">
                    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                      <div class="list-group list-group-flush" *ngIf="selectedItem">
                        <a href="" class="list-group-item list-group-item-action" *ngFor="let sub of selectedItem.items"
                          (mouseover)="toggleSubMenuItem(sub)"><i class="fas fa-caret-right pe-2"></i>{{sub.label}}</a>
                      </div>
                    </div>
                    <div class="col-md-8 col-lg-6 mb-3 mb-lg-0">
                      <div class="list-group list-group-flush" *ngIf="selectedSubItem">
                        <span *ngIf="selectedSubItem.isOverview; else elseBlock">
                           <span *ngIf="selectedSubItem.overview">
                              <h2>
                                {{selectedSubItem.overview.header}}
                              </h2>
                              {{selectedSubItem.overview.content}}
                              <button type="button" class="btn btn-success">{{selectedSubItem.overview.buttonName}}</button>
                           </span>
                        </span>
                        <ng-template #elseBlock>
                          {{selectedSubItem.label}}
                          <span *ngIf="selectedSubItem.content">
                            <span>
                              <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
                                <div class="grid">
                                    <div class="col-12 md:col-6 lg:col-3" *ngFor="let simg of selectedSubItem.content">
                                        <div class="surface-card shadow-2 p-3 border-round">
                                            <div class="flex justify-content-between mb-3">
                                                <div>
                                                    <span class="block text-500 font-medium mb-3">{{simg.header}}</span>
                                                    <div class="text-900 font-medium text-xl">152 Unread</div>
                                                </div>
                                                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                                                    <i class="pi pi-comment text-purple-500 text-xl"></i>
                                                </div>
                                            </div>
                                            <span class="text-green-500 font-medium">85 </span>
                                            <span class="text-500">responded</span>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            </span>
                          </span>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
  </span>
</div>