<div class="card background-ash">
  <span class="d-md-none">
    <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <span class="title-icon">
          KeeyBee<span class="dot-icon">.</span>
        </span>
      </ng-template>
      <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search" />
      </ng-template>
    </p-menubar>
  </span>
  <span class="d-none d-md-block">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container-fluid" style="padding: 25px;background-color: black;font-size:large;">
        <!-- Toggle button -->
        <button class="navbar-toggler px-0" type="button" (click)="collapse.toggle()" aria-controls="navbarExample3"
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <!-- Collapsible wrapper -->
        <div mdbCollapse #collapse="mdbCollapse" class="collapse navbar-collapse" id="navbarExample3" style="color: #9E9FA3;">
          <!-- Left links -->
          <ul class="navbar-nav me-auto ps-lg-0" style="padding-left: 0.15rem">
            <li class="nav-item">
              <span class="title-icon display-6">
                KeeyBee<span class="dot-icon">.</span></span>
            </li>
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown position-static" *ngFor="let item of items">
              <a (click)="toggleMenu(item)" (mouseover)="toggleMenu(item)" class="nav-link dropdown-toggle" href="#"
                id="{{'navbarDropdown_'+item.label}}" role="button" [attr.aria-expanded]="menuExpanded" style="color: #fff;">
                {{item.label}}
              </a>
              <!-- Dropdown menu -->
              <div *ngIf="menuExpanded && selectedItem" class="dropdown-menu w-100 mt-0 display-6"
                [attr.aria-labelledby]="'navbarDropdown_'+item.label" 
                style="border-top-left-radius: 0; border-top-right-radius: 0; 
                left: 0;padding: 25px;background-color: black;
                color: #9E9FA3;">
                <div class="container">
                  <div class="row my-4">
                    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                      <div class="list-group list-group-flush" *ngIf="selectedItem">
                        <a href="" class="list-group-item list-group-item-action display-5 active-menu-item" 
                        *ngFor="let sub of selectedItem.items" style="padding: 25px;background-color: black;font-size:large;"
                          (mouseover)="toggleSubMenuItem(sub)"><i class="fas fa-caret-right pe-2"></i>{{sub.label}}</a>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-9 mb-3 mb-lg-0">
                      <div class="list-group list-group-flush" *ngIf="selectedSubItem">
                        <span *ngIf="selectedSubItem.isOverview; else elseBlock">
                          <span *ngIf="selectedSubItem.overview">
                            <h2>
                              {{selectedSubItem.overview.header}}
                            </h2>
                            {{selectedSubItem.overview.content}}
                            <button type="button"
                              class="btn btn-success">{{selectedSubItem.overview.buttonName}}</button>
                          </span>
                        </span>
                        <ng-template #elseBlock>
                          {{selectedSubItem.label}}
                          <!-- <span *ngIf="selectedSubItem.content"> -->
                            <span>
                            <span>
                              <div class="grid nogutter">
                                <div class="col-12 lg:col-4 p-3">
                                  <div class="shadow-2 border-round h-full surface-card"><img
                                      src="assets/images/blog-1.jpg" alt="Image"
                                      class="block w-full border-round-top">
                                    <div class="p-4"><span class="block font-medium text-blue-600 mb-3">Who we are</span>
                                      <div class="text-xl text-900 font-medium mb-3 line-height-3">Know more about the culture</div>
                                      <div class="line-height-3 mb-3 text-700">Keeybee , your trusted partner for comprehensive IT consulting services. We understand the evolving landscape of technology and the critical role it plays in driving business success. Our team of seasoned IT experts is here to guide you through the complex world of technology, ensuring that your organization harnesses its full potential.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 lg:col-4 p-3">
                                  <div class="shadow-2 border-round h-full surface-card"><img
                                      src="assets/images/blog-2.jpg" alt="Image"
                                      class="block w-full border-round-top">
                                    <div class="p-4 flex flex-column"><span
                                        class="block font-medium text-pink-600 mb-3">Mission</span>
                                      <div class="text-xl text-900 font-medium mb-3 line-height-3">Customer obsession</div>
                                      <div class="line-height-3 mb-3 text-700">Transform businesses to through technology” or “The Transformation you need”

                                        .</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 lg:col-4 p-3">
                                  <div class="shadow-2 border-round h-full surface-card"><img
                                      src="assets/images/blog-3.jpg" alt="Image"
                                      class="block w-full border-round-top">
                                    <div class="p-4"><span class="block font-medium text-orange-600 mb-3">Vision</span>
                                      <div class="text-xl text-900 font-medium mb-3 line-height-3">Explore the oppurtunities</div>
                                      <div class="line-height-3 mb-3 text-700">To be the global IT leader that transforms the world through technology innovation, setting new standards for excellence, and empowering and digitalizing businesses and communities to thrive in the digital age.</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </span>
                          </span>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
  </span>
</div>