<div>
    <!-- <div style="height: 200px;">
        <span class="split left" style="color: white; text-align: center;" >
            <h1> KeeyBee Data Analytics</h1>
            <h2> 
                Enable IT, finance, and DevOps teams to work together to optimize cloud resources for speed, cost, and quality.
            </h2>
            <p-button label="Contact Us">
            </p-button>
            <br>
        </span>
        <span class="split right">
            <img src="../../../assets/images/data_analytics_main.jpg" />
        </span>
    </div> -->
    <div class="grid grid-nogutter surface-section text-800">
        <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
            <section>
                <!-- <span class="block text-6xl font-bold mb-1">KeeyBee</span> -->
                <div class="text-6xl text-primary font-bold mb-3">Start Using Your Data</div>
                <p class="mt-0 mb-4 text-700 line-height-3">Create new data models backed by scientific approaches to
                    improve operational decision-making and launch innovative software products.</p>

                <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised"></button>
                <button pButton pRipple label="Contact Us" type="button" class="p-button-outlined"></button>
            </section>
        </div>
        <div class="col-12 md:col-6 overflow-hidden">
            <img src="assets/images/data_analytics_main.jpg" alt="Image" class="md:ml-auto block md:h-full"
                style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
        </div>
        <div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
            <div class="mb-5 flex">
                <div class="flex flex-column align-items-center" style="width: 2rem;"><span
                        class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle p-2"><i
                            class="pi pi-compass text-xl"></i></span>
                    <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem;"></div>
                </div>
                <div class="ml-5 surface-card shadow-2 border-round p-3 flex-auto">
                    <div class="mb-3"><span class="text-900 font-medium inline-block mr-3">Data Strategy and Consultation</span>
                        <span class="text-500 text-sm"></span></div>
                    <div class="line-height-3 text-700 mb-3"> Leverage our expertise to develop a data strategy that aligns with your business objectives. We help you
                        identify data sources, define data governance, and create a roadmap for data utilization.</div>
                    <div class="text-500 flex align-items-center gap-4">
                        <!-- <div class="flex align-items-center gap-1"><i class="pi pi-heart"></i><span>0</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-comment"></i><span>1</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-eye"></i><span>24</span></div> -->
                    </div>
                </div>
            </div>
            <div class="mb-5 flex">
                <div class="flex flex-column align-items-center" style="width: 2rem;"><span
                        class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle p-2"><i
                            class="pi pi-compass text-xl"></i></span>
                    <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem;"></div>
                </div>
                <div class="ml-5 surface-card shadow-2 border-round p-3 flex-auto">
                    <div class="mb-3"><span class="text-900 font-medium inline-block mr-3">Data Collection and Integration</span>
                        <span class="text-500 text-sm"></span></div>
                    <div class="line-height-3 text-700 mb-3"> Ensure you capture and integrate data from various sources efficiently. We set up data collection
                        systems
                        and build
                        data pipelines to consolidate your data for analysis.</div>
                    <div class="text-500 flex align-items-center gap-4">
                        <!-- <div class="flex align-items-center gap-1"><i class="pi pi-heart"></i><span>0</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-comment"></i><span>1</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-eye"></i><span>24</span></div> -->
                    </div>
                </div>
            </div>
            <div class="mb-5 flex">
                <div class="flex flex-column align-items-center" style="width: 2rem;"><span
                        class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle p-2"><i
                            class="pi pi-compass text-xl"></i></span>
                    <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem;"></div>
                </div>
                <div class="ml-5 surface-card shadow-2 border-round p-3 flex-auto">
                    <div class="mb-3"><span class="text-900 font-medium inline-block mr-3">Data Visualization and Reporting</span>
                        <span class="text-500 text-sm"></span></div>
                    <div class="line-height-3 text-700 mb-3">Transform raw data into insightful, interactive visualizations and reports. We use industry-leading
                        tools to help you understand your data better and communicate findings effectively.</div>
                    <div class="text-500 flex align-items-center gap-4">
                        <!-- <div class="flex align-items-center gap-1"><i class="pi pi-heart"></i><span>0</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-comment"></i><span>1</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-eye"></i><span>24</span></div> -->
                    </div>
                </div>
            </div>
            <div class="mb-5 flex">
                <div class="flex flex-column align-items-center" style="width: 2rem;"><span
                        class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle p-2"><i
                            class="pi pi-compass text-xl"></i></span>
                    <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem;"></div>
                </div>
                <div class="ml-5 surface-card shadow-2 border-round p-3 flex-auto">
                    <div class="mb-3"><span class="text-900 font-medium inline-block mr-3">Advanced Analytics and Predictive Modeling</span>
                        <span class="text-500 text-sm"></span></div>
                    <div class="line-height-3 text-700 mb-3">Dive deeper into your data with advanced analytics and predictive modeling. Uncover patterns, trends,
                        and make data-driven predictions that can guide strategic decisions.</div>
                    <div class="text-500 flex align-items-center gap-4">
                        <!-- <div class="flex align-items-center gap-1"><i class="pi pi-heart"></i><span>0</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-comment"></i><span>1</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-eye"></i><span>24</span></div> -->
                    </div>
                </div>
            </div>
            <div class="mb-5 flex">
                <div class="flex flex-column align-items-center" style="width: 2rem;"><span
                        class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle p-2"><i
                            class="pi pi-compass text-xl"></i></span>
                    <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem;"></div>
                </div>
                <div class="ml-5 surface-card shadow-2 border-round p-3 flex-auto">
                    <div class="mb-3"><span class="text-900 font-medium inline-block mr-3">Big Data and Cloud Analytics</span>
                        <span class="text-500 text-sm"></span></div>
                    <div class="line-height-3 text-700 mb-3"> Leverage big data technologies and cloud-based analytics to handle large and complex datasets. Our
                        solutions provide scalability, cost-efficiency, and real-time data processing capabilities.</div>
                    <div class="text-500 flex align-items-center gap-4">
                        <!-- <div class="flex align-items-center gap-1"><i class="pi pi-heart"></i><span>0</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-comment"></i><span>1</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-eye"></i><span>24</span></div> -->
                    </div>
                </div>
            </div>
            <div class="mb-5 flex">
                <div class="flex flex-column align-items-center" style="width: 2rem;"><span
                        class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle p-2"><i
                            class="pi pi-compass text-xl"></i></span>
                    <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem;"></div>
                </div>
                <div class="ml-5 surface-card shadow-2 border-round p-3 flex-auto">
                    <div class="mb-3"><span class="text-900 font-medium inline-block mr-3">Business Intelligence Solutions</span>
                        <span class="text-500 text-sm"></span></div>
                    <div class="line-height-3 text-700 mb-3"> Empower your team with self-service business intelligence tools that enable them to create reports,
                        analyze data, and make decisions independently.</div>
                    <div class="text-500 flex align-items-center gap-4">
                        <!-- <div class="flex align-items-center gap-1"><i class="pi pi-heart"></i><span>0</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-comment"></i><span>1</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-eye"></i><span>24</span></div> -->
                    </div>
                </div>
            </div>
            <div class="mb-5 flex">
                <div class="flex flex-column align-items-center" style="width: 2rem;"><span
                        class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle p-2"><i
                            class="pi pi-compass text-xl"></i></span>
                    <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem;"></div>
                </div>
                <div class="ml-5 surface-card shadow-2 border-round p-3 flex-auto">
                    <div class="mb-3"><span class="text-900 font-medium inline-block mr-3">Data Security and Compliance</span>
                        <span class="text-500 text-sm"></span></div>
                    <div class="line-height-3 text-700 mb-3">Protect your data assets and ensure compliance with data protection regulations. We implement robust
                        security measures to safeguard sensitive information.</div>
                    <div class="text-500 flex align-items-center gap-4">
                        <!-- <div class="flex align-items-center gap-1"><i class="pi pi-heart"></i><span>0</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-comment"></i><span>1</span></div>
                        <div class="flex align-items-center gap-1"><i class="pi pi-eye"></i><span>24</span></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>